.About{
    color: #999999;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.abouttags{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.tagsButton.golden-border {
    border-color: gold;
  }
.tagsButton{
    background-color: black;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.728);
    border-radius: 30px;
    color: rgba(255, 255, 255, 0.794);
}
.aboutHead{
    display: flex;
    justify-content: space-between;
    color: #999999;
}
.aboutLeft{
    display: flex;
}
.aboutRight{
    display: flex;
}
.aboutHeadLeft{
    display: flex;
   gap: 0.6rem;
}
.aboutHeadRight{
    display: flex;
gap: 0.6rem;
}
.aboutHeadRight .share{
    background-color: #333333;
padding: 10px;
color: white;
border-radius: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.star{
    color: rgb(240, 247, 44);
}
.ratings{
    font-weight: bold;
}
.reviews{
    text-decoration: underline;
}
.aboutContent li span{
    color: burlywood;
    text-decoration: underline;
}

.aboutHeadRight .likes{
    background-color: #333333;
padding: 10px;
color: white;
border-radius: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.tags{

    display: flex;
    gap: 10px;
    align-items: center;
}
.tags .tag{
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: #181818;
    padding: 0px 14px;
    border-radius: 10px;


}
.aboutAmenities h2{
    color: white;
}
.Amenities-button{
    background-color: black;
  color: rgba(255, 255, 255, 0.794);
  border: 1px solid rgba(255, 255, 255, 0.836);
 
  border-radius: 50px;
  padding: 17px 30px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  
}

.aboutMeals h2{
color: white;
}
.aboutMealsButtons{
    display: flex;
    gap: 1rem;
    padding-top: 2rem ;
}
.aboutMealsButtons button{
    background-color: black;
    color: rgba(255, 255, 255, 0.794);
    border: 1px solid rgba(255, 255, 255, 0.836);
   
    border-radius: 50px;
    padding: 17px 30px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}
.mealType{
    display: flex;
    gap: 1rem;
}
.vegType{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.non-vegType{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.veg{
    height: 30px;
    width: 30px;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.veg span{
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: green;
}
.non-veg{
    height: 30px;
    width: 30px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.non-veg span{
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: red;
}
.aboutContent{
    padding-top: 10px;
}
.aboutContent h2{
    color: white;
}
.aboutContent ul{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.AmenitiesList{
    display: flex;
    gap: 8rem;
    align-items: center;
    padding-bottom: 20px;
}
.AmenitiesList .left{
display: flex;
flex-direction: column;
gap: 10px;
}
.AmenitiesList .right{
    display: flex;
    flex-direction: column;
    gap: 10px;
    }
    @media (max-width: 1000px) {
        .tags {
          display: flex;
          flex-wrap: wrap;
        }

    }
    @media (max-width: 500px){
        .aboutHead{
        padding: 2px;
        }
    }