.mainContent {
  max-width: 100%;
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  color: white;
  gap: 3rem;

}

.leftContent {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.rightContent {
  display: flex;
  width: 35%;
}

@media (max-width: 850px) {
  .rightContent {
    display: none;
  }
.mainContent{
  padding: 8px;
}
  .leftContent {
    padding: 0px;
    width: 100%;
  }
}
