.mainContent {
  max-width: 100%;
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  color: white;
  gap: 3rem;
}

.leftContent {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.rightContent {
  display: flex;
  width: 35%;
}

/* Responsive styles for screens smaller than 850px */
@media (max-width: 850px) {
  .rightContent {
    display: none; /* Hide modal section */
  }
.mainContent{
  padding: 0rem;
}
  .leftContent {
    padding: 10px;
    width: 100%; /* Expand the leftContent to full width */
  }
}
