.RoomcardsTitle {
    font-size: 2rem;
    color: white;
  }
  
  .RoomflexCards {
    display: flex;
    gap: 1.5rem;
    justify-content: center;

  }
  

  .roomcard {
    background-color: #333;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 1rem);
    max-width: 300px;
    flex-grow: 1;
  
  }

  .roomcardImage {
    width: 100%;
    height: 40%;
    margin: 0; 
    padding: 0;
  }
  
  .roomcard img {
    object-fit: cover;
    width: 100%; 
    height: 45%;
    display: block;
  }
  

  .RoomcardContent {
    padding: 1rem;
    color: rgba(255, 255, 255, 0.651);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 12;
    font-size: 14px;
  }

  @media (max-width: 850px) {
    .roomcard {
      width: calc(50% - 1rem); 
    }
  }
  
  @media (max-width: 500px) {
    .roomcard {
      width: 100%;
    }
    .RoomflexCards{
      gap: 0.5rem;
    }
    .RoomcardContent{
      font-size: 8px;
      padding: 0.5rem;
    }
  }
  