
  
  .cardsTitle {
    font-size: 2rem;

    margin-bottom: 2rem;
    color: white;
  }
  
  .flexCards {
    display: flex;

    gap: 1.5rem;
    justify-content: center;
  }
  
  .card {
    background-color: #333;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 1rem);
    max-width: 300px;
    flex-grow: 1;
    padding: 15px;
  }
  
  .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .cardContent {

    color: white;
    display: flex;
    gap: 1rem;
  }

  

  @media (max-width: 850px) {
    .card {
      width: calc(50% - 1rem);
    }
  }
  
  @media (max-width: 500px) {
    .card {
      width: 100%;
    }
  }
  